body 
{
    margin:0px;
    padding:0px;    
}

.Header
{
    background: #CCFFFF;
    height:100px;
    text-align :center;
    font-weight:bold;
}

.Content
{
    background: aqua;
    height:600px;
}

.Footer
{
    background: green;
    height:100px;
    text-align: center;
    font-weight:bold;
}

table.center 
 {
    margin-left:auto; 
    margin-right:auto;
 }